.footer {
    width: 100%;
    padding: 16px 0px;
    text-align: center;
    background: $light-blue;
    position: relative;
    z-index: 4;
    span {
        color: $white;
        font-size: 12px;
        letter-spacing: 1px;
    }
}
