{% load staticfiles svg %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- stylesheet -->
    <link rel="stylesheet" href="{% static 'dist/style/main.css' %}" />
    <title>HealthLift</title>
    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}"/>
  </head>
  <body>
    <nav class="nav" id="sticky-header">
      <img class="logo" src="{% static 'svg/logo.svg' %}" />
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#companies">Companies</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  {% block content %}
  {% endblock %}
    <div class="footer">
        <span>&copy; {% now "Y" %} HealthLift</span>
    </div>
    <!-- scripts -->
    <script src="{% static 'dist/libs/libs.min.js' %}"></script>
    <script src="{% static 'dist/js/app.min.js' %}"></script>
  </body>
</html>
